In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/audible-uncleaned-date-changed/audible_uncleaned(in).csv

### Load unclean data

In [2]:
df = pd.read_csv('/kaggle/input/audible-uncleaned-date-changed/audible_uncleaned(in).csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [4]:
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,8/04/2008,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,5/01/2018,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,11/06/2020,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,10/05/2021,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13/01/2010,English,4.5 out of 5 stars181 ratings,820
5,The Hunger Games: Special Edition,Writtenby:SuzanneCollins,Narratedby:TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656
6,Quest for the Diamond Sword,Writtenby:WinterMorgan,Narratedby:LukeDaniels,2 hrs and 23 mins,25-11-14,English,5 out of 5 stars11 ratings,233
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,5/02/2017,English,5 out of 5 stars50 ratings,820
8,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 56 mins,5/02/2017,English,5 out of 5 stars5 ratings,"1,256.00"
9,The Tyrantâ€™s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820

In [5]:
df.tail(10)

,name,author,narrator,time,releasedate,language,stars,price
87479,Dear Bob and Sue,"Writtenby:MattSmith,KarenSmith","Narratedby:DavidColacci,SusanEricksen",14 hrs and 48 mins,26-12-17,English,Not rated yet,"1,055.00"
87480,Journey into Cyprus,Writtenby:ColinThubron,Narratedby:JonathanKeeble,11 hrs and 51 mins,1/01/2018,English,Not rated yet,785
87481,The Hills of Adonis,Writtenby:ColinThubron,Narratedby:JonathanKeeble,6 hrs and 52 mins,12/01/2017,English,Not rated yet,679
87482,The Bush,"Writtenby:DonWatson,HamishHamilton",Narratedby:DonWatson,13 hrs and 16 mins,13-10-17,English,Not rated yet,"1,328.00"
87483,We Stood upon Stars,Writtenby:RogerW.Thompson,Narratedby:JohnMcLain,5 hrs and 55 mins,5/02/2017,English,Not rated yet,351
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,3/09/2017,English,Not rated yet,596
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,3/07/2017,English,Not rated yet,569

In [6]:
df[df.name.duplicated()]

,name,author,narrator,time,releasedate,language,stars,price
18,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 18 mins,5/02/2017,English,5 out of 5 stars11 ratings,"1,256.00"
46,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:WalterLewis,3 hrs and 51 mins,13-01-10,English,4 out of 5 stars4 ratings,615
54,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,13 hrs and 24 mins,5/02/2017,English,5 out of 5 stars8 ratings,"1,256.00"
155,Barbie - Superprincesa,Writtenby:Mattel,Narratedby:VanessaPÃ©rezJurado,29 mins,3/07/2022,spanish,Not rated yet,38
273,Barbie - Dreamtopia,"Writtenby:Mattel,MartaCisaMuÃ±oz-traductor",Narratedby:MiriamMonlleo,21 mins,31-01-22,catalan,Not rated yet,38
...,...,...,...,...,...,...,...,...
87443,Travels with a Donkey in the Cevennes,Writtenby:RobertLouisStevenson,Narratedby:DenisLawson,2 hrs and 51 mins,13-05-08,English,Not rated yet,569
87456,Gettysburg,Writtenby:JeffShaara,Narratedby:RobertsonDean,1 hr and 12 mins,26-03-07,English,Not rated yet,200
87457,Solo,Writtenby:PenHadow,Narratedby:PenHadow,3 hrs and 5 mins,14-02-05,English,Not rated yet,615
87475,Wanderlust,Writtenby:ElisabethEaves,Narratedby:ErinBennett,9 hrs and 51 mins,26-02-14,English,Not rated yet,668
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938

In [7]:
df[df.name=='Travels with a Donkey in the Cevennes']

,name,author,narrator,time,releasedate,language,stars,price
19319,Travels with a Donkey in the Cevennes,Writtenby:RobertLouisStevenson,Narratedby:BillyHartman,2 hrs and 38 mins,26-12-99,English,Not rated yet,375
85956,Travels with a Donkey in the Cevennes,Writtenby:RobertLouisStevenson,Narratedby:MelissaThompson,3 hrs and 27 mins,3/10/2020,English,Not rated yet,"1,055.00"
87443,Travels with a Donkey in the Cevennes,Writtenby:RobertLouisStevenson,Narratedby:DenisLawson,2 hrs and 51 mins,13-05-08,English,Not rated yet,569

Though the names are same, the narrators are different so we need to consider that all the data are unique and not duplicated.

### Messy Data
1. author column
   * Writtneby:
   * First Name, Middle Name, Last Name combined
   * Multiple authors combined
2. narrator column
   * Narratedby:
   * First Name, Middle Name, Last Name combined
3. time column
   * time in string format
4. releasedate
   * different date format
   * some with - and some with /
5. language column
   * incositent case
6. stars column
   * stars and rating counts in same column
7. price column
   * price in string format
   * contains , in between

#### Import necessary libraries

In [8]:
import re
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import FunctionTransformer

In [9]:
def clean_name(name_series):
    # Ensure the input is a pandas Series
    if not isinstance(name_series, pd.Series):
        raise TypeError("Expected a pandas Series")

    # Apply cleaning operations
    cleaned_names = name_series.str.replace(r'Writtenby:', '', regex=True)  # Remove 'Writtenby:'
    cleaned_names = cleaned_names.str.replace(r'Narratedby:', '', regex=True)  # Remove 'Writtenby:'
    spaced_names = cleaned_names.str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True)  # Add spaces

    return spaced_names.to_frame()

clean_name_transformer = FunctionTransformer(clean_name)

In [10]:
clean_name_transformer.transform(df['author'])

                 author
0      Geronimo Stilton
1          Rick Riordan
2           Jeff Kinney
3          Rick Riordan
4          Rick Riordan
...                 ...
87484     Chris Stewart
87485    Stephen O'Shea
87486        Mark Twain
87487   Laurence Sterne
87488    Mark Kurlansky

[87489 rows x 1 columns]

In [11]:
clean_name_transformer.transform(df['narrator'])

              narrator
0          Bill Lobely
1       Robbie Daymond
2          Dan Russell
3      Soneela Nankani
4      Jesse Bernstein
...                ...
87484    Chris Stewart
87485      Robert Fass
87486       Flo Gibson
87487     Anton Lesser
87488     Fleet Cooper

[87489 rows x 1 columns]

In [12]:
# Parse hours and minutes for each entry in the Series
def parse_time_string(time):
    hours_match = re.search(r'(\d+)\s*hrs?', time)
    mins_match = re.search(r'(\d+)\s*mins?', time)
    
    # Extract hours and minutes, default to 0 if not found
    hours = int(hours_match.group(1)) if hours_match else 0
    minutes = int(mins_match.group(1)) if mins_match else 0
    
    # Calculate total minutes
    return hours * 60 + minutes

def convert_to_minutes_series(time_series):
    # Ensure the input is a pandas Series
    if not isinstance(time_series, pd.Series):
        raise TypeError("Expected a pandas Series")
    
    return time_series.apply(parse_time_string).to_frame()

convert_to_minutes_transformer = FunctionTransformer(convert_to_minutes_series)

### Convert time column in minutes

In [13]:
df['time'].apply(lambda x: parse_time_string(x))

0         140
1         788
2         123
3         676
4         600
         ...
87484     454
87485     607
87486    1144
87487     248
87488     361
Name: time, Length: 87489, dtype: int64

In [14]:
convert_to_minutes_transformer.transform(df['time'])

       time
0       140
1       788
2       123
3       676
4       600
...     ...
87484   454
87485   607
87486  1144
87487   248
87488   361

[87489 rows x 1 columns]

In [15]:
from datetime import datetime

def convert_to_ddmmyyyy(date): 
    formatted_date = None
    try:
        # Try parsing with both possible formats
        if '/' in date:
            parsed_date = datetime.strptime(date, "%d/%m/%Y") if len(date.split('/')[-1]) == 4 else datetime.strptime(date, "%d/%m/%y")
        elif '-' in date:
            parsed_date = datetime.strptime(date, "%d-%m-%Y") if len(date.split('-')[-1]) == 4 else datetime.strptime(date, "%d-%m-%y")
        else:
            raise ValueError("Unrecognized date format")
    except ValueError:
        raise TypeError("Expected a pandas Series")
        return None
    else: 
        # Format date to dd/mm/yyyy
        formatted_date = parsed_date.strftime("%d/%m/%Y") 
    return formatted_date

def date_converter(date_series):

    # Ensure the input is a pandas Series
    if not isinstance(date_series, pd.Series):
        raise TypeError("Expected a pandas Series")

    return date_series.apply(convert_to_ddmmyyyy).to_frame()

date_transformer = FunctionTransformer(date_converter)

In [16]:
 df['releasedate'].apply(lambda x: convert_to_ddmmyyyy(x))

0        08/04/2008
1        05/01/2018
2        11/06/2020
3        10/05/2021
4        13/01/2010
            ...
87484    03/09/2017
87485    21/02/2017
87486    30/12/2016
87487    23/02/2011
87488    03/07/2017
Name: releasedate, Length: 87489, dtype: object

In [17]:
date_transformer.transform(df['releasedate'])

      releasedate
0      08/04/2008
1      05/01/2018
2      11/06/2020
3      10/05/2021
4      13/01/2010
...           ...
87484  03/09/2017
87485  21/02/2017
87486  30/12/2016
87487  23/02/2011
87488  03/07/2017

[87489 rows x 1 columns]

In [18]:
def process_stars_data(stars_string): 
    if "Not rated yet" in stars_string:
        # Handle "Not rated yet"
        stars = ratings = 'Not Rated'
    else:
        # Extract stars (e.g., "4.5" or "5") and ratings (e.g., "34")
        stars_match = re.search(r'(\d+(\.\d+)?) out of 5 stars', stars_string)
        ratings_match = re.search(r'(\d+)\s+ratings', stars_string)

        stars = stars_match.group(1) if stars_match else "Not Rated"
        ratings = ratings_match.group(1) if ratings_match else "Not Rated" 
        
    return stars, ratings


def stars_converter(stars_series):
    # Ensure the input is a pandas Series
    if not isinstance(stars_series, pd.Series):
        raise TypeError("Expected a pandas Series")

    parsed_stars = stars_series.apply(process_stars_data)

    return pd.DataFrame(parsed_stars.tolist(), columns=['rating_stars','ratings'])

stars_transformer = FunctionTransformer(stars_converter)

In [19]:
df['stars'].apply(process_stars_data)

0                       (5, 34)
1                     (4.5, 41)
2                     (4.5, 38)
3                     (4.5, 12)
4                    (4.5, 181)
                  ...
87484    (Not Rated, Not Rated)
87485    (Not Rated, Not Rated)
87486    (Not Rated, Not Rated)
87487    (Not Rated, Not Rated)
87488    (Not Rated, Not Rated)
Name: stars, Length: 87489, dtype: object

In [20]:
stars_transformer.transform(df['stars'])

      rating_stars    ratings
0                5         34
1              4.5         41
2              4.5         38
3              4.5         12
4              4.5        181
...            ...        ...
87484    Not Rated  Not Rated
87485    Not Rated  Not Rated
87486    Not Rated  Not Rated
87487    Not Rated  Not Rated
87488    Not Rated  Not Rated

[87489 rows x 2 columns]

Apply Columns Trasnformers to clean all columns data

In [21]:
# Define the ColumnTransformer
column_transformer = ColumnTransformer(
    transformers=[
        ("clean_author", clean_name_transformer, "author"),
        ("clean_narrator", clean_name_transformer, "narrator"),
        ("total_minutes", convert_to_minutes_transformer, "time"),
        ("formatted_date", date_transformer, "releasedate"),
        ("stars_data", stars_transformer, "stars"),
    ],
    remainder="passthrough"  # Keep any other columns untouched
)

In [22]:
tramsformed_columns = column_transformer.fit_transform(df)
transformed_df=pd.DataFrame(tramsformed_columns, columns=[
        "clean_author", "clean_narrator", "total_minutes", 
        "formatted_date", "stars", "ratings", *df.drop(["author", "narrator", "time", "releasedate", "stars"], axis=1).columns
    ])
transformed_df

,clean_author,clean_narrator,total_minutes,formatted_date,stars,ratings,name,language,price
0,Geronimo Stilton,Bill Lobely,140,08/04/2008,5,34,Geronimo Stilton #11 & #12,English,468
1,Rick Riordan,Robbie Daymond,788,05/01/2018,4.5,41,The Burning Maze,English,820
2,Jeff Kinney,Dan Russell,123,11/06/2020,4.5,38,The Deep End,English,410
3,Rick Riordan,Soneela Nankani,676,10/05/2021,4.5,12,Daughter of the Deep,English,615
4,Rick Riordan,Jesse Bernstein,600,13/01/2010,4.5,181,"The Lightning Thief: Percy Jackson, Book 1",English,820
...,...,...,...,...,...,...,...,...,...
87484,Chris Stewart,Chris Stewart,454,03/09/2017,Not Rated,Not Rated,Last Days of the Bus Club,English,596
87485,Stephen O'Shea,Robert Fass,607,21/02/2017,Not Rated,Not Rated,The Alps,English,820
87486,Mark Twain,Flo Gibson,1144,30/12/2016,Not Rated,Not Rated,The Innocents Abroad,English,938
87487,Laurence Sterne,Anton Lesser,248,23/02/2011,Not Rated,Not Rated,A Sentimental Journey,English,680
87488,Mark Kurlansky,Fleet Cooper,361,03/07/2017,Not Rated,Not Rated,Havana,English,569

In [23]:
transformed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   clean_author    87489 non-null  object
 1   clean_narrator  87489 non-null  object
 2   total_minutes   87489 non-null  object
 3   formatted_date  87489 non-null  object
 4   stars           87489 non-null  object
 5   ratings         87489 non-null  object
 6   name            87489 non-null  object
 7   language        87489 non-null  object
 8   price           87489 non-null  object
dtypes: object(9)
memory usage: 6.0+ MB

In [24]:
columns = ['name'] + [col for col in transformed_df.columns if col != 'name']

In [25]:
transformed_df = transformed_df[columns]

### Clean Language and Price Columns

In [26]:
transformed_df['language'] = transformed_df['language'].str.capitalize()
transformed_df['price']= transformed_df['price'].str.replace(',','').replace('Free',0).astype('float')

In [27]:
transformed_df

,name,clean_author,clean_narrator,total_minutes,formatted_date,stars,ratings,language,price
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,140,08/04/2008,5,34,English,468.0
1,The Burning Maze,Rick Riordan,Robbie Daymond,788,05/01/2018,4.5,41,English,820.0
2,The Deep End,Jeff Kinney,Dan Russell,123,11/06/2020,4.5,38,English,410.0
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,676,10/05/2021,4.5,12,English,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,600,13/01/2010,4.5,181,English,820.0
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,454,03/09/2017,Not Rated,Not Rated,English,596.0
87485,The Alps,Stephen O'Shea,Robert Fass,607,21/02/2017,Not Rated,Not Rated,English,820.0
87486,The Innocents Abroad,Mark Twain,Flo Gibson,1144,30/12/2016,Not Rated,Not Rated,English,938.0
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,248,23/02/2011,Not Rated,Not Rated,English,680.0
87488,Havana,Mark Kurlansky,Fleet Cooper,361,03/07/2017,Not Rated,Not Rated,English,569.0

In [28]:
# Save the transformed DataFrame to a CSV in a writable directory
transformed_df.to_csv('/kaggle/working/audible_cleaned.csv', index=False)

That